<body>
     <!-- Footer -->
<footer class="bg-gray-900 text-white py-6 mt-10">
    <div class="container mx-auto flex flex-col items-center space-y-2">
        <p class="text-lg font-bold text-yellow-400">&copy; DigiVote Group</p>
        <p class="text-gray-300 text-md font-semibold tracking-wide">Praneet • Aniket • Samruddhi • Manish</p>
    </div>
</footer>

    
</body>